In [1]:
print("this is me learning python 2nd day")

this is me learning python 2nd day

In [2]:
#this is cmt

In [3]:
'''
this is output
'''

'\nthis is output\n'

In [4]:
a = "this is a string"
b = 24
c = 5.8

is_owner=False

In [5]:
print(type(a))

<class 'str'>

In [6]:
print(type(b))

<class 'int'>

In [7]:
print(type(c))

<class 'float'>

In [8]:
print(type(is_owner))

<class 'bool'>

In [9]:
a="5"
b="4"
c=a+b

In [10]:
c

'54'

In [11]:
d=int(c)+int(b)

In [12]:
d

58

In [ ]:
name = (input("Enter your name: "))
print(name)
type(name)

In [ ]:
name = int(input("Enter your name: "))
print(name)
type(name)

In [ ]:
#int to string
age = 24
age = str(age)

print("Age is " + age)

In [ ]:
#string to int
age = "24"
age = int(age)

print(age + 1)

In [ ]:
#string to float
height = "5.8"
height = float(height)
print(height + 1.1)

In [ ]:
print(bool(0))     # False 0 is considered False in Python
print(bool(1))     # True Any non-zero number is True
print(bool(""))    # False Empty string "" False 
print(bool("Hi"))  # True

In [ ]:
x = 7
y = 3

print(f"Add: {x+y}, Sub: {x-y}, Mul: {x*y}, Div: {x/y}, FloorDiv: {x//y}, Mod: {x%y}, Power: {x**y}")

In [ ]:
x+=y

In [ ]:
x

In [ ]:
x=x+y

In [ ]:
x

In [ ]:
y-=x

In [ ]:
y

In [4]:
# 1.The Receipt Generator
# Create variables for three items: item1_price, item2_price, and item3_price.
# Ask the user to input the price of each item
# Calculate the subtotal.
# Calculate the tax (assume 8%).
# Calculate the total.
# Print a formatted receipt using F-strings
item1_price = float(input("Enter item 1 price: "))
item2_price = float(input("Enter item 2 price: "))
item3_price = float(input("Enter item 3 price: "))

subtotal = item1_price + item2_price + item3_price
tax = subtotal * 0.08
total = subtotal + tax

print(f"Subtotal: {subtotal}, Tax: {tax}, Total: {total}")

Enter item 1 price:  500
Enter item 2 price:  400
Enter item 3 price:  600

Subtotal: 1500.0, Tax: 120.0, Total: 1620.0

In [5]:
# #unpacking
# def calculate_total(prices):
#     subtotal = sum(prices)
#     tax = subtotal * 0.08
#     total = subtotal + tax
#     return subtotal, tax, total

# prices = [float(input(f"Enter price for item {i}: ")) for i in range(1, 4)]
# subtotal, tax, total = calculate_total(prices)

# print(f"Subtotal: ${subtotal:.2f}, Tax: ${tax:.2f}, Total: ${total:.2f}")

In [17]:
# 3. String Slicer
# Given the string: s = "PythonProgramming".
# Write code to print:
# "Python"
# "gram"
# "gnimmargorPnohtyP" (The whole string reversed).
s = "PythonProgramming"

# 1. "Python" → first 6 characters
print(s[:6])

# 2. "gram" → characters from index 10 to 13
print(s[9:13])

# 3. Reverse the string → step -1
print(s[::-1])

Python
gram
gnimmargorPnohtyP

In [6]:
# 4. The modulus Check Write a script that defines a variable number. 
# Check if the number is even or odd using the % operator and print a
# boolean result (True if even, False if odd).
number = int(input("Enter a number"))
is_odd = (number %2!=0)
print(is_odd)

Enter a number 19

True

In [7]:
number = int(input("Enter a number:"))
is_even=(number %2==0)
print(is_even)

Enter a number: 10

True

In [2]:
# Start with this list: guests = ["Alice", "Bob", "Charlie", "David"].
# Perform the following steps in order:
# "Bob" cancels. Remove him.
# "Eve" is a VIP. Add her to the start of the list.
# "Frank" joins. Add him to the end of the list.
# Sort the list alphabetically.

# Print the final list and the total number of guests.
guests = ["Alice", "Bob", "Charlie", "David"]

guests.remove("Bob")

guests.insert(0, "Eve")

guests.append("Frank")

print("Final guest list:", guests)
print("Total number of guests:", len(guests))

Final guest list: ['Eve', 'Alice', 'Charlie', 'David', 'Frank']
Total number of guests: 5

In [3]:
# 6. Email Sanitizer
# You have a messy user input: email_input = " UseR@ExAMPle.CoM ".
# Write a one-line chain of methods to:
# Remove surrounding whitespace.Convert to lowercase.Replace "com" with "org".

# Output should be: user@example.org
email_input = " UseR@ExAMPle.CoM "

email_output = email_input.strip().lower().replace("com", "org")

print(email_output)

user@example.org

In [5]:
# 7. Tuple Logic (Reasoning)
# Why does the following code crash? Fix it so coords remains a tuple but the value changes.



# coords = (10, 20) 
# coords[0] = 15 # This causes an error

coords = (10, 20) 
coords = (15,coords[1])
print(coords)

(15, 20)

In [8]:
# 8. The Duplicate Destroyer
# You have a list of ID numbers with duplicates: ids = [101, 102, 101, 103, 104, 102].

# Using one specific data structure conversion, create a new variable unique_ids that contains only unique numbers. 
# Print the count of unique IDs.
ids = [101, 102, 101, 103, 104, 102]
unique_elements=set(ids)
print(unique_elements)
count=len(unique_elements)
print(f"Count of Unique IDs: {count}")

{104, 101, 102, 103}
Count of Unique IDs: 4

In [12]:
# Given the following complex dictionary representing a student database:

# school_data = {
#     "class_10A": {
#         "students": [
#             {"name": "John", "grades": {"math": 80, "science": 90}},
#             {"name": "Sarah", "grades": {"math": 95, "science": 88}}
#         ]
#     }
# }



# output:
# John: maths:80, science:90
# Sarah: maths:95, science:88


school_data = {
    "class_10A": {
        "students": [
            {"name": "John", "grades": {"math": 80, "science": 90}},
            {"name": "Sarah", "grades": {"math": 95, "science": 88}}
        ]
    }
}

students = school_data["class_10A"]["students"]

for student in students:
    name = student["name"]
    math = student["grades"]["math"]
    science = student["grades"]["science"]
    print(f"{name}: maths:{math}, science:{science}")

John: maths:80, science:90
Sarah: maths:95, science:88

In [19]:
# 10.The Data Parser(String Slicing)
# You have a date in a specific format: date_string = "2023-12-25".

# Use  (using square brackets []) to extract the year, month, and day into separate variables.
# year should be "2023"
# month should be "12"
# day should be "25"
#  Print them in US format: 12/25/2023 using an f-string.

date_string = "2023-12-25"
year= date_string[:4]
month= date_string[5:7]
day= date_string[8:10]
print(f"{month}/{day}/{year}")

12/25/2023

In [21]:
# The File Name Standardizer(Method Chaining)
# Users often upload files with messy names. You need to standardize them for a database.
#  file_name = " My Summer Vacation PHOTO.JPG "
#  Write a chain of methods to:
#  "my_summer_vacation_photo.jpg"

file_name = "My Summer Vacation PHOTO.jpg"
print(file_name.strip().lower().replace(" ","_"))

my_summer_vacation_photo.jpg

In [ ]:
# # The Foundation
# # Syntax & Output:
# # The print() function.
# # Crucial Concept: Indentation. Explain that whitespace matters in Python.

# Variables:
# Dynamic typing (no need to declare type).
# Naming conventions: snake_case, case-sensitivity, and reserved keywords.
    
#     Section 2: Data Types, Casting & Operators
# Data Types:
# int (Whole numbers), float (Decimals), str (Text), bool (True/False).

#     Casting:
# Explicit conversion: int("5"), str(10.5), float(5).


#     Operators:
# Arithmetic: +, -, *, /, // (floor division), % (modulus/remainder), ** (exponent).



# Assignment: =, +=, -=.


# Comparison: ==, !=, >, <.


# Logical: and, or, not.